<%- include header %>
<% if (user && (user.name === post.name)) { %>
<p>
  <span><a href="/edit/<%= post.name %>/<%= post.title %>">编辑</a></span>
  <span><a href="/remove/<%= post.name %>/<%= post.title %>">删除</a></span>
</p>
<% } %>
<p class="info">
  作者: <a href="/u/<%= post.name %>"><%= post.name %></a> |
  日期: <%= post.time %>
</p>
<p>
  <%- post.content %>
</p>
<%- include comment %>
<%- include footer %>
